<!-- prettier-ignore -->
{% extends "v3/layouts/prototype-cb-urn.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check an IDSP URN</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- prettier-ignore -->
    {{ govukInput({
      label: {
        text: "IDSP Company Name",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      id: "company-name",
      name: "companyName"
    }) }}
    {{ govukInput({
      label: {
        text: "Unique Reference Number",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "The IDSP you are applying for should have provided you with this number."
      },
      id: "unique-ref-number",
      name: "uniqueRefNumber"
    }) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}
    <!-- prettier-ignore -->
    {{ govukButton({
      text: "Validate",
      href: "/v3/idsp-onboarding/cb-registration-urn/check-urn-error"
    }) }}
  </div>
</div>

{% endblock %}
