<!-- prettier-ignore -->
{% extends "v3/layouts/prototype-cb-urn.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Create an account</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- prettier-ignore -->
    {{ govukInput({
      label: {
        text: "Email address",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      classes: "govuk-input--width-20",
      id: "email",
      name: "email",
      value: "applications@defcab.com"
    }) }}

    {{ govukInput({
      label: {
        text: "Password",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      classes: "govuk-input--width-20",
      type: "password",
      id: "password",
      name: "password"
    }) }}
    {{ govukInput({
      label: {
        text: "Confirm Password",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      classes: "govuk-input--width-20",
      type: "password",
      id: "confirm-password",
      name: "confirmPassword"
    }) }}


    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue",
      href: "/v3/idsp-onboarding/cb-registration-urn/create-account-company-details.html"
    }) }}
  </div>
</div>

{% endblock %}
