{% extends "v3/layouts/main.html" %} {% block pageTitle %} OfDIA Review Platform
{% endblock %} {% block header %}

<div class="ofdia-view-wrapper">
    <div class="govuk-grid-row">
        <header class="govuk-header" role="banner" data-module="govuk-header">
            <div class="govuk-header__container govuk-width-container">
                <div class="left clear">
                    <h2 class="govuk-heading-m-white header-heading">
                        OfDIA Review Platform
                    </h2>
                </div>
                <div class="right">
                    <strong class="govuk-tag"> Administrator View </strong>
                    |
                    <a class="govuk-header__link" href="#">
                        <strong>
                            <svg width="15" height="10" viewBox="0 0 15 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="Icon: Chevron" clip-path="url(#clip0_37814_2232)">
                                    <path id="Icon: Chevron_2" d="M14 1.5L7.5 8L1 1.5" stroke="white"
                                        stroke-width="2" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_37814_2232">
                                        <rect width="15" height="10" fill="white"
                                            transform="translate(15 10) rotate(-180)" />
                                    </clipPath>
                                </defs>
                            </svg>

                            Menu</strong>
                    </a>
                    |
                    <a class="govuk-header__link" href="#">
                        <strong>Sign Out</strong>
                    </a>
                </div>
            </div>
        </header>
    </div>

    <div class="govuk-width-container">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Register Application Dashboard</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">HDJ21123F Case Review</a>
                </li>
            </ol>
        </div>
    </div>
    <br />

    <div class="govuk-grid-row">
        <div class="govuk-width-container">
            <div class="section-card blue">
                <div class="left clear">
                    <p class="urn-header">Unique Reference Number:</p>
                </div>
                <div class="right">
                    <p class="urn-header">Status</p>
                </div>
                <div class="left clear">
                    <h1 class="govuk-heading-l urn-header">HDJ2123F</h1>
                </div>
                <div class="right">
                    <strong class="govuk-tag govuk-tag--yellow">IN-REVIEW</strong>
                </div>
            </div>
            <div class="section-card other-grey">
                <div class="sub-section-grey">
                    <p class="grey-header">Digital Identity Provider</p>
                    <h5 class="govuk-heading-s">SecureID</h5>
                </div>
                <div class="sub-section-grey">
                    <p class="grey-header">CAB</p>
                    <h5 class="govuk-heading-s">DEF CAB</h5>
                </div >
                <div class="sub-section-grey">
                    <p class="grey-header">Role Type</p>
                    <h5 class="govuk-heading-s">Identity, Attribute</h5>
                </div >
                <div class="sub-section-grey">
                    <p class="grey-header">Time  Submitted</p>
                    <h5 class="govuk-heading-s">3:16 PM on 02-Sept-2023</h5>
                </div>
                <div class="sub-section-grey">
                    <p class="grey-header schemes">Schemes</p>
                    <strong class="govuk-tag rtw-tag">RTW</strong>
                    <strong class="govuk-tag rtw-tag">RTR</strong>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="govuk-width-container">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Case Review</h1>
                <br />

                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">Contents</h2>
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                            <a class="govuk-tabs__tab" href="#past-day"> Initial Checks </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#secondary-checks">
                                Secondary Checks
                            </a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab" href="#publishing-review">
                                Review for Publishing
                            </a>
                        </li>
                    </ul>
                    <div class="govuk-tabs__panel" id="past-day">
                        <div class="tab-header">
                            <h2 class="govuk-heading-l">Initial Checks</h2>
                            <div>
                                <strong class="govuk-tag govuk-tag--green">
                                    PASSED REVIEW
                                </strong>
                            </div>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />

                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Conformity Assessment Body Information
                                <strong class="govuk-tag govuk-tag--green">
                                    PASSED
                                </strong>

                                <br /><br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Name</li>
                                    <li>Email</li>
                                    <li>Telephone Number</li>
                                    <li>Website</li>
                                </ol>

                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published" selected>Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Digital Identity Provider Information
                                <strong class="govuk-tag govuk-tag--green">
                                    PASSED
                                </strong>
                                <br /><br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">

                                    <li>Unique Reference Number</li>
                                    <li>Trading Name</li>
                                    <li>Registered Name</li>
                                    <li>Companies House Number</li>
                                    <li>Email</li>
                                    <li>UK Telephone Number</li>
                                    <li>UK Company Address</li>
                                    <li>Website</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published" selected>Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />

                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Role Type and Schemes
                                <strong class="govuk-tag govuk-tag--green">
                                    PASSED
                                </strong>
                                <br /><br />
                                <p class="govuk-body">
                                    Check for:
                                </p>
                                <ol class="govuk-body">
                                    <li>Role Type(s)</li>
                                    <li>Schemes</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published" selected>Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Certification Documents

                                <br /><br />
                                <p class="govuk-body">
                                    Check for:
                                </p>
                                <ol class="govuk-body">
                                    <li>Certification of Conformity (File and Link)</li>
                                    <li>Schedule of Conformity (File and Link)</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending" selected>Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Certification Validity

                                <br /><br />
                                <p class="govuk-body">
                                    Check for:
                                </p>
                                <ol class="govuk-body">
                                    <li>Date of Issue</li>
                                    <li>Date of Expiry</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending" selected>Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Any Other information

                                <br /><br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Any other information required</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending" selected>Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>
                        <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                            Comments
                        </span>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
                            aria-describedby="more-detail-hint"></textarea>
                        <button class="govuk-button govuk-button--secondary additional-review-btn">
                            Request for additional documentation
                        </button>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <br />
                        <div class="section-header">
                            <div>
                                {{ govukButton({ text: "Complete Initial Checks", href:
                                "#secondary-checks", isStartButton: false }) }}
                            </div>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <br />
                    </div>

                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="secondary-checks">
                        <div class="tab-header">
                            <h2 class="govuk-heading-l">Secondary Checks</h2>
                            <div>
                                <strong class="govuk-tag govuk-tag--yellow">
                                    IN REVIEW
                                </strong>
                            </div>
                        </div>

                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Initial Check comments

                                <div class="initial-comments">
                                    <span class="govuk-body">from Jamie McGinley:</span>
                                    <br /><br />
                                    <p class="govuk-body">
                                        Company Address not updated in Companies House website
                                    </p>
                                </div>
                            </span>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible" />

                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Conformity Assessment Body Information
                                <strong class="govuk-tag govuk-tag--green">
                                    PASSED
                                </strong>

                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Name</li>
                                    <li>Email</li>
                                    <li>Telephone Number</li>
                                    <li>Website</li>
                                </ol>

                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published" selected>Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible" />

                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Digital Identity Provider Information
                                <strong class="govuk-tag govuk-tag--green">
                                    PASSED
                                </strong>
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Unique Reference Number</li>
                                    <li>Trading Name</li>
                                    <li>Registered Name</li>
                                    <li>Companies House Number</li>
                                    <li>Email</li>
                                    <li>UK Telephone Number</li>
                                    <li>UK Company Address</li>
                                    <li>Website</li>
                                </ol>

                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published" selected>Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />

                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Legal Status
                                <strong class="govuk-tag govuk-tag--green">
                                    PASSED
                                </strong>
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Legal Status</li>

                                </ol>

                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published" selected>Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Directorships
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Directorships</li>

                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Foreign Funding
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Foreign Funding documents</li>

                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Financial Probity
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Financial Probity</li>

                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                T/A Address
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>T/A Address</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Operations Address
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Operations Address</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Sanctions List
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Sanctions List</li>

                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                OFSI
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>OFSI</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                UNFC (where applicable)
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>UNFC</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                EC (where applicable)
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>EC</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                TARIC (where applicable)
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>TARIC</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Existing accreditations
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Existing accreditations</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <div>
                            <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                                Any Other Information
                                <br />
                                <p class="govuk-body">Check for:</p>
                                <ol class="govuk-body">
                                    <li>Any other information required</li>
                                </ol>
                                <div class="govuk-form-group check-body">
                                    <select class="govuk-select" id="sort" name="sort">
                                        <option value="pending">Pending</option>
                                        <option value="published">Passed Review</option>
                                        <option value="updated">Failed Review</option>
                                    </select>
                                    <button class="govuk-button">Submit</button>
                                </div>
                            </span>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <span class="govuk-accordion__section-button check-bottom" id="accordion-default-heading-1">
                            Comments
                        </span>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
                            aria-describedby="more-detail-hint"></textarea>
                        <button class="govuk-button govuk-button--secondary additional-review-btn">
                            Request for additional documentation
                        </button>

                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <br />

                        <div class="section-header">
                            <div>
                                {{ govukButton({ text: "Checks Complete", href:
                                "#publishing-review", isStartButton: false, disabled: false }) }}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="publishing-review">
                        <div class="tab-header">
                            <h2 class="govuk-heading-l">Review for Publishing</h2>
                            <div>
                                <strong class="govuk-tag govuk-tag--yellow">
                                    IN REVIEW
                                </strong>
                            </div>
                        </div>

                        <br />
                        <div class="tab-header">
                            <h2 class="govuk-heading-m">Content Review</h2>
                            <div>
                                <strong class="govuk-tag govuk-tag--yellow">
                                    REVIEW IN PROGRESS
                                </strong>
                            </div>
                        </div>
                        <hr class="govuk-section-break govuk-section-break--visible" />
                        <br />

                        <div class="tab-header">
                            <h3 class="govuk-heading-s"> Contact Information</h3>
                            <div>
                                <a href="">Change</a>
                            </div>
                        </div>


                        <dl class="govuk-summary-list publish-review">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Registered name</dt>
                                <dd class="govuk-summary-list__value">Secure ID Platform</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Trading name</dt>
                                <dd class="govuk-summary-list__value">Safe ID Check</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Companies House Number</dt>
                                <dd class="govuk-summary-list__value">010101010</dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Email</dt>
                                <dd class="govuk-summary-list__value">
                                    info@secureidplatform.com
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Website</dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">www.secureidplatform.com</p>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">UK telephone number</dt>
                                <dd class="govuk-summary-list__value">+44 (0) 2045511332</dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">UK company address</dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">
                                        Fora, 180 Borough High Street, London, SE31 1LB, United
                                        Kingdom
                                    </p>
                                </dd>
                            </div>
                        </dl>

                        <div class="tab-header">
                            <h3 class="govuk-heading-s"> Certification Information</h3>
                            <div>
                                <a href="">Change</a>
                            </div>
                        </div>


                        <dl class="govuk-summary-list publish-review">
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Role type</dt>
                                <dd class="govuk-summary-list__value">Identity, Attribute</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Schemes</dt>
                                <dd class="govuk-summary-list__value">Right to Work <br/> Right to Rent <br /> Disclosure and Barring Service</dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Identity Profiles</dt>
                                <dd class="govuk-summary-list__value">
                                    L1A, L1B, L1C, L2A, L2B, L2C
                                </dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Certificate of Conformity</dt>
                                <dd class="govuk-summary-list__value">
                                    <a href="#">Certification document</a>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Schedule of Conformity</dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">
                                        <a href="#">
                                            Schedule of Conformity document
                                        </a>
                                    </p>
                                </dd>
                            </div>
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Date of issue</dt>
                                <dd class="govuk-summary-list__value">3 October 2022</dd>
                            </div>

                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">Date of expiry</dt>
                                <dd class="govuk-summary-list__value">
                                    <p class="govuk-body">
                                        3 October 2025
                                    </p>
                                </dd>
                            </div>
                        </dl>

                        <div class="section-header">
                            <div>
                                {{ govukButton({ text: "Publish to the register", isStartButton:
                                false }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Browser</h2>
                        <br />
                        <a href="#">Add a new file or URL Link</a>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row recent-activity-item">
                                <span class="govuk-body">File</span>
                                <p class="govuk-heading-s">HDJ2123F.pdf</p>
                                02-Sept-2023 03:16:49 PM by system
                                <a href="#" class="govuk-link govuk-!-text-align-right" target="_blank">View<br /></a>
                                <br />
                            </div>

                            <div class="govuk-summary-list__row recent-activity-item">
                                <span class="govuk-body">File</span>
                                <p class="govuk-heading-s">
                                    Aug 2023 - SecureID Certificate of Conformity.pdf
                                </p>
                                02-Sept-2023 03:16:49 PM by DEF CAB
                                <br />
                                <a href="#" class="govuk-link govuk-!-text-align-right">View<br /></a>
                                <br />
                            </div>
                            <div class="govuk-summary-list__row recent-activity-item">
                                <span class="govuk-body">URL Link</span>
                                <p class="govuk-heading-s">Aug 2023 - Secure ID Certificate of Conformity</p>
                                02-Sept-2023 03:16:49 PM by DEF CAB
                                <a href="#"
                                    class="govuk-link govuk-!-text-align-right">https://secureidschedule<br />.defcertification.com<br /></a>
                                <br />
                            </div>
                            <div class="govuk-summary-list__row recent-activity-item">
                                <span class="govuk-body">File</span>
                                <p class="govuk-heading-s">
                                    Aug 2023 - SecureID Schedule of Conformity.pdf
                                </p>
                                02-Sept-2023 03:16:49 PM by DEF CAB
                                <br />
                                <a href="#" class="govuk-link govuk-!-text-align-right">View<br /></a>
                                <br />
                            </div>
                            <div class="govuk-summary-list__row recent-activity-item">
                                <span class="govuk-body">URL Link</span>
                                <p class="govuk-heading-s">Aug 2023 - SecureID Schedule of Conformity.pdf</p>
                                02-Sept-2023 03:16:49 PM by DEF CAB
                                <a href="#"
                                    class="govuk-link govuk-!-text-align-right">https://secureidschedule<br />.defcertification.com<br /></a>
                                <br />
                            </div>
                        </dl>
                    </div>
                </div>
                <div class="govuk-summary-card">
                    <div class="govuk-summary-card__title-wrapper">
                        <h2 class="govuk-summary-card__title">Case History</h2>
                    </div>
                    <div class="govuk-summary-card__content">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row recent-activity-item">
                                <p class="govuk-heading-s">Inital Checks Completed</p>
                                08-Sept-2023 03:16:49 PM by JM Mac
                                <br />

                                <a href="#" class="govuk-link govuk-!-text-align-right">View Details<br /></a>
                                <br />
                            </div>

                            <div class="govuk-summary-list__row recent-activity-item">
                                <p class="govuk-heading-s">New Information Received</p>
                                07-Sept-2023 02:16:49 PM by DEF CAB
                                <br />

                                <a href="#" class="govuk-link govuk-!-text-align-right">View Details<br /></a>
                                <br />
                            </div>
                            <div class="govuk-summary-list__row recent-activity-item">
                                <p class="govuk-heading-s">Initial Checks Started</p>
                                02-Sept-2023 03:23:49 PM by JM Mac

                                <br />

                                <a href="#" class="govuk-link govuk-!-text-align-right">View Details<br /></a>
                                <br />
                            </div>
                            <div class="govuk-summary-list__row recent-activity-item">
                                <p class="govuk-heading-s">Case Application Received</p>
                                02-Sept-2023 03:16:49 PM by DEF CAB
                                <br />

                                <a href="#" class="govuk-link govuk-!-text-align-right">View Details</a>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}