{% extends "v3/layouts/main.html" %} {% block pageTitle %} OfDIA Review Platform
{% endblock %} {% block header %}

<div class="ofdia-view-wrapper">
    <div class="govuk-grid-row">
        <header class="govuk-header" role="banner" data-module="govuk-header">
            <div class="govuk-header__container govuk-width-container">
                <div class="left clear">
                    <h2 class="govuk-heading-m-white header-heading">
                        OfDIA Review Platform
                    </h2>
                </div>
                <div class="right">
                    <strong class="govuk-tag"> Administrator View </strong>
                    |
                    <a class="govuk-header__link" href="#">
                        <strong>
                            <svg width="15" height="10" viewBox="0 0 15 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="Icon: Chevron" clip-path="url(#clip0_37814_2232)">
                                    <path id="Icon: Chevron_2" d="M14 1.5L7.5 8L1 1.5" stroke="white"
                                        stroke-width="2" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_37814_2232">
                                        <rect width="15" height="10" fill="white"
                                            transform="translate(15 10) rotate(-180)" />
                                    </clipPath>
                                </defs>
                            </svg>

                            Menu</strong>
                    </a>
                    |
                    <a class="govuk-header__link" href="#">
                        <strong>Sign Out</strong>
                    </a>
                </div>
            </div>
        </header>
    </div>
    <div class="govuk-width-container">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Home</a>
                </li>
            </ol>
        </div>

        <h1 class="govuk-heading-xl">OfDIA Review Platform</h1>
        <br />
        <p class="govuk-body-l">Process applications of digital identity providers</p>



        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                <h3 class="govuk-heading-m"><a href="pre-screening-dashboard.html">Pre-Screening Dashboard </a></h3>
                <p class="govuk-body-m">Applications of digital identity providers for an
                    initial assessment</p>
            </div>
            <div class="govuk-grid-column-one-half">

                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                <h3 class="govuk-heading-m"><a href="register-application-dashboard.html">Register Application Dashboard </a></h3>
                <p class="govuk-body-m">Applications of certified digital identity providers to become published onto
                    the register</p>


            </div>
        </div>
    </div>
</div>

{% endblock %}