{% extends "/v3/layouts/prototype-cb-urn.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Check unique reference number</span>
      Digital identity provider
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- prettier-ignore -->
    {{ govukInput({
      label: {
        text: "Registered name",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      classes: "govuk-!-width-three-quarters",
      id: "registered-name",
      name: "egisteredName"
    }) }}

    {{ govukInput({
      label: {
        text: "Unique Reference Number",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "Digital identity provider has shared this number via email with you. For example, 'QQ 12 34 56 C'."
      },
      classes: "govuk-!-width-three-quarters",
      id: "unique-ref-number",
      name: "uniqueRefNumber",
      errorMessage: {
        html: '
              <p class="govuk-error-message">The number you entered doesn`t exist.</p>
              <ol class="govuk-error-message">
              <li class="">Please check if you entered the number in the correct format. For
              example, "QQ123456C".</li>
              <li class="">Reach out to digital identity provider to check if they shared the
              correct number</li>' 
      }
    }) }} 
   
  </div>
</div>

{% endblock %}
