{% extends "v3/layouts/prototype-cb-urn.html" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check unique reference number (URN)</h1>

    <p>
      Before you start the certification process you need to confirm if the
      digital identity provider that you will be auditing has passed the
      pre-assessment.
    </p>
    <p>
      If they have passed the pre-assessment, they have been issued a unique
      reference number (URN) that they have shared with you through email.
    </p>
    <p>
      This form allows you to check if the unique reference number exists and is
      associated with digital identity provider that shared this number with
      you.
    </p>
    <p>To complete the check you will need to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Ensure you have the digital identity provider's registered name</li>
      <li>Ensure you have the unique reference number that they provided</li>
    </ul>

    {{ govukButton({ text: "Start now", href:
    "/v3/idsp-onboarding/cb-registration-urn/check-urn/check-number",
    isStartButton: true }) }}

    <aside
      class="govuk-prototype-kit-common-templates-related-items"
      role="complementary"
    >
      <h2 class="govuk-heading-m" id="subsection-title">Explore the topic</h2>
      <ul class="govuk-list">
        <li>
          <a href="#" class="gov-uk-link"
            >What are the steps to publish digital identity provider on the
            register?
          </a>
        </li>
        <li>
          <a href="#" class="govuk-link"
            >What is the unique reference number and how it is used?
          </a>
        </li>
      </ul>
    </aside>
  </div>

  <div class="govuk-grid-column-one-third"></div>
</div>

{% endblock %}
