<!-- prettier-ignore -->
{% extends "layouts/prototype-cb.html" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Index
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <ul>
      <li><a href="/v2/idsp-onboarding/cb-registration/application-summary.html">application-summary.html</a>
      </li>
      <li><a href="/v2/idsp-onboarding/cb-registration/case-list.html">case-list.html</a></li>
      <li><a href="/v2/idsp-onboarding/cb-registration/check-eligibility.html">check-eligibility.html</a></li>
      <li><a href="/v2/idsp-onboarding/cb-registration/confirmation.html">confirmation.html</a></li>
      <li><a
          href="/v2/idsp-onboarding/cb-registration/create-account-company-details.html">create-account-company-details.html</a>
      </li>
      <li><a href="/v2/idsp-onboarding/cb-registration/create-account.html">create-account.html</a></li>
      <li><a href="/v2/idsp-onboarding/cb-registration/create-application.html">create-application.html</a></li>
      <li><a href="/v2/idsp-onboarding/cb-registration/create-application-error.html">create-application-error.html</a>
      </li>
      <li><a
          href="/v2/idsp-onboarding/cb-registration/provide-idsp-company-documents.html">provide-idsp-company-documents.html</a>
      </li>
      <li><a
          href="/v2/idsp-onboarding/cb-registration/provide-idsp-company-information-1.html">provide-idsp-company-information-1.html</a>
      </li>
      <li><a
          href="/v2/idsp-onboarding/cb-registration/provide-idsp-company-information-2.html">provide-idsp-company-information-2.html</a>
      </li>
      <li><a
          href="/v2/idsp-onboarding/cb-registration/provide-idsp-company-information-3.html">provide-idsp-company-information-3.html</a>
      </li>
      <li><a href="/v2/idsp-onboarding/cb-registration/read-declaration.html">read-declaration.html</a></li>
      <li><a href="/v2/idsp-onboarding/cb-registration/register.html">register.html</a></li>
    </ul>
  </div>
</div>

{% endblock %}