<!-- prettier-ignore -->
{% extends "v2/layouts/prototype-cb.html" %}

{% block beforeContent %} 
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "checklist"
}) }}  
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Register an IDSP</span>
      Strawberry Jam
      <span class="govuk-caption-l govuk-!-margin-top-1"
        >Reference Number: HDJ2123F</span
      >
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      Please enter basic information about the IDSP. These information will
      appear in the public-facing register.
    </p>

    <div class="govuk-!-padding-bottom-3"></div>

    {% from "govuk/components/input/macro.njk" import govukInput %}
    <!-- prettier-ignore -->

    {{ govukInput({
      label: {
        text: "Email address",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "Enter the contact email of the IDSP"
      },
      id: "email",
      name: "email"
    }) }}

    {{ govukInput({
      label: {
        text: "UK Telephone Company Number",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "Enter the contact number of the IDSP"
      },
      id: "telephone-number",
      name: "telephoneNumber"
    }) }}

    {{ govukInput({
      label: {
        text: "Webpage",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      id: "webpage",
      name: "webpage"
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}
    <!-- prettier-ignore -->
    {{ govukButton({
      text: "Save and continue",
      href: "/v2/idsp-onboarding/cb-registration/provide-idsp-company-information-3"
    }) }}
  </div>
</div>

{% endblock %}
