{% extends "v2/layouts/prototype.html" %} {% block pageTitle %} Find an identity
provider - GOV.UK {% endblock %} {% block beforeContent %}
<!-- prettier-ignore -->
{{ govukBreadcrumbs({ 
  items: [ { text:"Home", href: "/v2/public-facing-register/start" }, { text: "Find an identity provider", href: "#" }] })
}}

{% endblock %}


{% block content %}

<!-- START title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Find an identity provider
      <span class="govuk-caption-l govuk-!-margin-top-1"
        >Last updated: 04 October 2023</span
      >
    </h1>
  </div>
</div>
<div class="govuk-!-padding-bottom-3"></div>
<!-- END title -->

<div class="govuk-grid-row">
  <!-- START filter -->
  <div class="govuk-grid-column-one-third">
    <!-- prettier-ignore -->
    {%- from "moj/components/filter/macro.njk" import mojFilter -%}
    {%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}
    {%- from "govuk/components/input/macro.njk" import govukInput -%}

    {%- set filterOptionsHtml %}

      {{ govukInput({
        id: 'keywords',
        name: 'keywords',
        label: {
          text: 'Identity service providers',
          classes: 'govuk-label--m'
        }
      }) }}

      {{ govukCheckboxes({
        idPrefix: 'type',
        name: 'type',
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: 'Scheme type:',
            classes: 'govuk-fieldset__legend--m'
          }
        },
        items: [
          {
            value: '1',
            text: 'Right to work'
          },
          {
            value: '2',
            text: 'Right to rent'
          },
          {
            value: '3',
            text: 'Disclosure and Barring Service'
          }
        ]
      }) }}

      {{ govukCheckboxes({
        idPrefix: 'status',
        name: 'status',
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: 'Role type',
            classes: 'govuk-fieldset__legend--m'
          }
        },
        items: [
          {
            value: 'identity',
            text: 'Identity'
          },
          {
            value: 'attribute',
            text: 'Attribute'
          },
          {
            value: 'orchestration',
            text: 'Orchestration'
          }
        ]
      }) }}
    {% endset -%}

    {{ mojFilter({
      heading: {
        text: 'Filter'
      },

      submit: {
        attributes: {
            "data-test-id": "submit-button",
            onclick: "window.location.href = '/v2/public-facing-register/search-filtered-rtw';"
        }
      },
      optionsHtml: filterOptionsHtml
    }) }}
  </div>
  <!-- END filter -->

  <div class="govuk-grid-column-two-thirds">
    <!-- START cards -->
    <h2 class="govuk-heading-m">43 results</h2>
    <div class="search-sort">
      <fieldset>
        <legend>Sort view</legend>
        <label aria-pressed="" aria-describe="Results sorted by Random"
          >Random</label
        >
        <a
          href="/?sort=lastupd"
          class="govuk-link govuk-link--no-visited-state"
          aria-sort="descending"
          aria-describe="Sort results by Last updated"
          >Last updated</a
        >
        <a
          href="/?sort=a2z"
          class="govuk-link govuk-link--no-visited-state"
          aria-sort="ascending"
          aria-describe="Sort results by A to Z"
          >A to Z</a
        >
        <a
          href="/?sort=z2a"
          class="govuk-link govuk-link--no-visited-state"
          aria-sort="descending"
          aria-describe="Sort results by Z to A"
          >Z to A</a
        >
      </fieldset>
    </div>

    {# @TODO: find a nunjucks alternative to the HTML below #}

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a id="vacancy-02" href="company1.html"> SecureID Platform</a>
    </h2>
    <p class="govuk-body" style="color: #505a5f">Sheffield, S1 3FG</p>
    <p class="govuk-body">A digital identification services company</p>
    <dl class="dsit-definition-list dsit-definition-list--meta">
      <dt class="dsit-definition-list__title">Services provided</dt>
      <dd class="dsit-definition-list__definition">
        Right to Work, Right to Rent, Disclosure and Barring Service
      </dd>
    </dl>

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-5 govuk-!-margin-bottom-5"
    />

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a id="vacancy-aof" href="company1.html">IdentifiedID</a>
    </h2>
    <p class="govuk-body" style="color: #505a5f">Sheffield, S7 3PT</p>
    <p class="govuk-body">A digital identification services company</p>
    <dl class="dsit-definition-list dsit-definition-list--meta">
      <dt class="dsit-definition-list__title">Services provided</dt>
      <dd class="dsit-definition-list__definition">Right to work</dd>
    </dl>

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-top-5 govuk-!-margin-bottom-5"
    />

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a id="standard-274" href="#">Global IDSP</a>
    </h2>
    <p class="govuk-body" style="color: #505a5f">Sheffield, S3 7GE</p>
    <p class="govuk-body">A digital identification services company</p>
    <dl class="dsit-definition-list dsit-definition-list--meta">
      <dt class="dsit-definition-list__title">Services provided</dt>
      <dd class="dsit-definition-list__definition">
        Right to Work, Right to Rent
      </dd>
    </dl>

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5"
    />

    <h2 class="govuk-heading-m govuk-!-margin-bottom-0">
      <a id="standard-274" href="#">Bubble Verify</a>
    </h2>

    <p class="govuk-body" style="color: #505a5f">Sheffield, S12 3HL</p>
    <p class="govuk-body">A digital identification services company</p>
    <dl class="dsit-definition-list dsit-definition-list--meta">
      <dt class="dsit-definition-list__title">Services provided</dt>
      <dd class="dsit-definition-list__definition">
        Right to Work, Right to Rent
      </dd>
    </dl>
    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-5"
    />

    <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
      <a id="standard-274" href="#">Advanced Identity</a>
    </h2>

    <p class="govuk-body" style="color: #505a5f">Sheffield, S35 8PR</p>
    <p class="govuk-body">A digital identification services company</p>
    <dl class="dsit-definition-list dsit-definition-list--meta">
      <dt class="dsit-definition-list__title">Services provided</dt>
      <dd class="dsit-definition-list__definition">
        Disclosure and Barring Service
      </dd>
    </dl>
    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- END cards -->

    {% from "govuk/components/pagination/macro.njk" import govukPagination %} {%
    from "govuk/components/pagination/macro.njk" import govukPagination %} {{
    govukPagination({ next: { href: "#" }, items: [ { number: 1, current: true,
    href: "#" }, { number: 2, href: "#" }, { number: 3, href: "#" } ] }) }}
  </div>

  {% endblock %}
</div>
