{% extends "v3/layouts/prototype-trust-mark.html" %} {% block pageTitle %} Find
an identity provider - GOV.UK {% endblock %} {% block beforeContent %}
<!-- prettier-ignore -->
{{ govukBreadcrumbs({ 
  items: [ 
  { text:"Home", href: "/v3/public-facing-register-trust-mark/start" }, 
  { text: "Search the register", href: "/v3/public-facing-register-trust-mark/search" }, 
  { text: "Search results", href: "/v3/public-facing-register-trust-mark/search-results-full" },
  { text: "SecureID Platform"}
  ]
  })
}}
{% endblock %}

{% block content %}

<!-- START title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1">
      <span class="govuk-caption-l"
        >Digital Identity Provider<span class="govuk-visually-hidden"
          >:</span
        ></span
      >
      SecureID Platform
    </h1>
    <h2 class="govuk-caption-l govuk-!-margin-bottom-2">
      <strong>Trading as:</strong> Safe ID Check
    </h2>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3
          class="govuk-caption-m govuk-!-margin-bottom-2"
          style="color: #505a5f"
        >
          <b>Published to register:</b> 20 June 2021
        </h3>
      </div>
      <div class="govuk-grid-column-one-half">
        <h3
          class="govuk-caption-m govuk-!-margin-bottom-2"
          style="color: #505a5f"
        >
          <b>Page last updated:</b> 30 August 2022
        </h3>
      </div>
    </div>
  </div>
</div>
<!-- END title -->

<!-- prettier-ignore -->
<div class="govuk-grid-row">`
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-!-padding-bottom-2">
      <h3 class="govuk-caption-m govuk-!-margin-bottom-2" style="color: #505a5f"><b>Schemes certified against:</b></h3>
      {%- from "govuk/components/tag/macro.njk" import govukTag -%}
      {{ govukTag({
        text: "Right to work"
      }) }}
      {{ govukTag({
        text: "Right to rent"
      }) }}
      {{ govukTag({
        text: "Disclosure and Barring Service"
      }) }}
    </div>
    <div class="govuk-!-padding-bottom-7"></div>

    
    {% from "govuk/components/tabs/macro.njk" import govukTabs %}
    {% from "govuk/components/table/macro.njk" import govukTable %}

    {% set overviewHtml %}
    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Companies House number"
          },
          value: {
            html: '<a href="#" class="govuk-link">08998951</a>'
          }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            text: "info@secureidplatform.com"
          }
        },
        {
          key: {
            text: "Telephone"
          },
          value: {
            text: "+44 (0) 2045511332"
          }
        },
        {
          key: {
            text: "Website"
          },
          value: {
            html: "www.secureidplatform.com"
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: '<p class="govuk-body">Fora, 180 Borough High Street, London, SE31 1LB, United Kingdom</p>'
          }
        }
      ]
    }) }}
    {% endset -%}

    {% set certificationInformation %}
     {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Role type(s)"
          },
          value: {
            text: "Identity, Attribute"
          }
        },
        {
          key: {
            text: "Scheme(s) certified against"
          },
          value: {
            text: "Right to Work, Right to Rent, Disclosure and Barring Service"
          }
        },
        {
          key: {
            text: "Identity profiles certified against"
          },
          value: {
            text: "L1A, L1B, L1C, L2A, L2B, L2C"
          }
        },
        {
          key: {
            text: "Date of certification"
          },
          value: {
            text: "3 October 2022"
          }
        },
        {
          key: {
            text: "Certification expiration date"
          },
          value: {
            text: "3 October 2025"
          }
        },
        {
          key: {
            text: "Proof of certification"
          },
          value: {
            html: '<a href="#" class="govuk-link">Certification document</a>'
          }
        },
        {
          key: {
            text: "Schedule of conformity"
          },
          value: {
            html: '<a href="#" class="govuk-link">Schedule of conformity</a>'
          }
        }
      ]
    }) }}
    {% endset -%}

    {% set genericHtml %}
    
    {% endset -%}

    {{ govukTabs({
      items: [
        {
          label: "Certification Information",
          id: "certification-information",
          panel: {
            html: certificationInformation
          }
        },
        {
          label: "Contact",
          id: "contact",
          panel: {
            html: overviewHtml
          }
        },
        {
          label: "Certification History",
          id: "certification-history",
          panel: {
            html: genericHtml
          }
        }
      ]
    }) }}
  </div>
  <div class="govuk-grid-column-one-third" style="text-align: center;">
   
  </div>
</div>

{% endblock %}
