{% extends "v3/layouts/prototype-trust-mark.html" %} {% block pageTitle %} Find
an identity provider - GOV.UK {% endblock %} {% block beforeContent %}
<!-- prettier-ignore -->
{{ govukBreadcrumbs({ 
  items: [ 
  { text:"Home", href: "/v3/public-facing-register-trust-mark/start" }, 
  { text: "Search the register" }
  ]
  })
}}

{% endblock %}


{% block content %}

<!-- START title -->
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Search for a digital identity provider</h1>
    <p>
      Find information on a provider’s certification and schemes or see the full
      list of providers
    </p>
    <!-- prettier-ignore -->
    {{ govukInput({
      label: {
        text: "Enter company name:",
        classes: "govuk-label--m",
        isPageHeading: true
      },
      hint: {
        text: "Search for trading name or registered name"
      },
      id: "company-name",
      name: "companyName"
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Search",
      href: "/v3/public-facing-register-trust-mark/search-results.html"
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "See full list",
      classes: "govuk-button--secondary",
      href: "/v3/public-facing-register-trust-mark/search-results-full.html"
    }) }}

    <aside
      class="govuk-prototype-kit-common-templates-related-items"
      role="complementary"
    >
      <h2 class="govuk-heading-m" id="subsection-title">Explore the topic</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#"
            ><a href="#" class="govuk-link"
              >What is the UK Digital Identities and Attributes Trust
              Framework</a
            ></a
          >
        </li>
      </ul>
    </aside>
  </div>
</div>
<div class="govuk-!-padding-bottom-3"></div>
<!-- END title -->

<script nonce="">
  (() => {
    document
      .querySelector("#company-name")
      .addEventListener("click", (event) => {
        event.target.value = "Secure ID Systems";
      });
  })();
</script>

{% endblock %}
