{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Register as a digital service provider
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader({
homepageUrl: "#",
serviceName: "Submit a pre-assessment application as a digital identity provider",
serviceUrl: "#",
navigation: [
{
href: "#",
text: "Search",
active: true
},
{
href: "#",
text: "About"
},
{
href: "#",
text: "Help"
}
]
}) }}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

<div class="govuk-width-container">
    {{ govukPhaseBanner({
        tag: {
          text: "Alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}
</div>
{% endblock %}


{% block content %}

<a href="#" class="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-width-container">

    
        <h1 class="govuk-heading-l">
            Submit a pre-assessment application as a digital identity provider
        </h1>
        <br />
        <br />

        <h5 class="govuk-heading-s">Please confirm that you understand the following:</h5>
        <ul class="govuk-body">
            <li>
                You are currently in the pre-assessment stage of applying to be on the DVS registe
            </li>
            <li>
                <a href="#">What is involved</a> in being on the register
            </li>
            <li>
                That this pre-assessment is currently free and that a fee maybe associated with this in the future
            </li>
            <li>
                The <a href"#">Terms and Conditions</a> associated with being on the register
            </li>
        </ul>

        <br />
        <br />
        
        {% from "govuk/components/button/macro.njk" import govukButton %}
        <!-- prettier-ignore -->
        {{ govukButton({
            text: "Confirm and Continue",
            href: "before-you-start.html"
        }) }}
    </div>
</div>

{% endblock %}