{% extends "v3/layouts/main.html" %} {% extends
"govuk-prototype-kit/layouts/govuk-branded.html" %} {% block pageTitle %}
Register as a digital service provider {% endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader({ homepageUrl: "#", serviceName: "Submit a pre-assessment application as a digital identity provider", serviceUrl: "#", navigation: [ { href: "#", text: "Search", active:
true }, { href: "#", text: "About" }, { href: "#", text: "Help" } ] }) }}

<div class="govuk-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <br />
    <a href="#" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-width-container">
            <h1 class="govuk-heading-xl">
                Submit a pre-assessment application as a digital identity provider
            </h1>
            <p class="govuk-body">This information will be on the DVS register if your application gets approved. </p>
        </div>

        <div class="govuk-grid-column-two-thirds">

            <br />
            <br />
            <div class="govuk-form-group">
                <label class="govuk-label" for="three-quarters">
                    <strong>Registered Name</strong>
                </label>
                <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="three-quarters"
                    type="text" />
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="three-quarters">
                    <strong>Trading Name</strong>
                </label>
                <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters"
                    type="text" />
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="two-thirds">
                    <strong>Company registration number</strong>
                </label>
                <div id="more-detail-hint" class="govuk-hint">
                    This number should allow for checks against Companies House or international registration.
                    <br /><br />
                    This confirms that you are a legitimate organisation that is registered with Companies House in the
                    UK or equivalent in your jurisdiction if your parent company is international.
                </div>
                <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters"
                    type="text" />
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="two-thirds">
                    <strong>Email</strong>
                </label>
                <div id="more-detail-hint" class="govuk-hint">
                    Provide an email address that will appear on the DVS register.
                </div>
                <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters"
                    type="text" />
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="two-thirds">
                    <strong>Website</strong>
                </label>
                
                <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters"
                    type="text" />
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="two-thirds">
                    <strong>UK telephone number</strong>
                </label>
                <div id="more-detail-hint" class="govuk-hint">
                    Provide a telephone number that will appear on the DVS register. 
                </div>
                <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters"
                    type="text" />
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="one-half">
                    <strong>Address</strong>
                </label>
                <label class="govuk-label" for="one-half">
                    <strong>Address line 1</strong>
                </label>
                <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters"
                    type="text" />
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="one-third">
                    <strong>Address line 2&nbsp;(optional)</strong>
                </label>
                <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters"
                    type="text" />
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="one-quarter">
                    <strong>Town or City</strong>
                </label>
                <input class="govuk-input govuk-!-width-three-quarters" id="three-quarters" name="threeQuarters"
                    type="text" />
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label" for="one-quarter">
                    <strong>Postcode</strong>
                </label>
                <input class="govuk-input govuk-!-width-one-quarter" id="one-quarter" name="oneQuarter" type="text" />
            </div>
            <br />
            {{ govukButton({ text: "Continue", href: "info-2.html", isStartButton:
            false }) }}
        </div>
    </div>
</div>

{% endblock %}