{% extends "v3/layouts/main.html" %}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Register as a digital service provider
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader({
homepageUrl: "#",
serviceName: "Register as a digital service provider",
serviceUrl: "#",
navigation: [
{
href: "#",
text: "Search",
active: true
},
{
href: "#",
text: "About"
},
{
href: "#",
text: "Help"
}
]
}) }}


<div class="govuk-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
    }) }}
    <br />
    <a href="#" class="govuk-back-link">Back</a>
    <div class="govuk-grid-row">
        <div class="govuk-width-container">
            <h1 class="govuk-heading-xl">
                Submit a pre-assessment application as a digital identity provider
            </h1>
        </div>
        <div class="govuk-grid-column-two-thirds">

            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="more-detail">
                        Briefly describe the service you want to be certified
                    </label>
                    <div id="more-detail-hint" class="govuk-hint">
                        Is your service ready?
                    </div>
                </h1>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
                    aria-describedby="more-detail-hint"></textarea>
            </div>
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h1 class="govuk-fieldset__heading">
                        Provide details of your compliance and conformity.
                    </h1>
                </legend>
                <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio"
                            value="england">
                        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                            An internationally-recognised Quality Management or Service System equivalent to ISO 9001 or ITIL
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio"
                            value="scotland">
                        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                            An internationally-recognised Information Technology Security Management System or Information Security Management System equivalent or in line with ISO 27001
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="whereDoYouLive-3" name="whereDoYouLive" type="radio"
                            value="wales">
                        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-3">
                            An internationally-recognised Risk Management System equivalent or in line with ISO 27005 or ISO 31000
                        </label>
                    </div>
                </div>
            </fieldset>
            <br />
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--m" for="more-detail">
                        Other details of compliance and conformity
                    </label>
                </h1>
                <div id="more-detail-hint" class="govuk-hint">
                    Please provide details of any compliance and conformity not mentioned in the standards and rules that you already meet or your service requires you to meet in the future.
                </div>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
                    aria-describedby="more-detail-hint"></textarea>
            </div>

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            Please confirm that you follow, or will agree to follow, the following standards or their relevant equivalents
                        </h1>
                    </legend>
                    <div id="waste-hint" class="govuk-hint">
                        Tick all that apply.
                    </div>
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox"
                                value="carcasses">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                <a href="#">GPG-44</a>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox"
                                value="carcasses">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                <a href="#">GPG-45</a>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste" name="waste" type="checkbox"
                                value="carcasses">
                            <label class="govuk-label govuk-checkboxes__label" for="waste">
                                <a href="#">Transaction Monitoring Guidance</a>
                            </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="waste-2" name="waste" type="checkbox"
                                value="mines">
                            <label class="govuk-label govuk-checkboxes__label" for="waste-2">
                                <a href="#">Biometrics Guidance</a>
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        <h1 class="govuk-fieldset__heading">
                            If your company is cloud-based, do you follow ISO 27018 standard or equivalent?
                        </h1>
                        
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio"
                                value="england">
                            <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio"
                                value="scotland">
                            <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="govuk-form-group">
                <div class="govuk-form-group">
                    <h1 class="govuk-label-wrapper">
                        <label class="govuk-label govuk-label--m" for="more-detail">
                            Is there any other information that you would like to provide to assist your application?
                        </label>
                    </h1>
                    <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"
                        aria-describedby="more-detail-hint"></textarea>
                </div>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="file-upload-1">
                        Upload any relevant document to support the information provided above.
                    </label>
                    <input class="govuk-file-upload" id="file-upload-1" name="fileUpload1" type="file">
                </div>
            </div>

            <br />
            {{ govukButton({
            text: "Continue",
            href: "info-6.html",
            isStartButton: false
            }) }}
        </div>

    </div>

</div>
</div>

{% endblock %}