{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% block pageTitle %}
Register as a digital service provider
{% endblock %}

{% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader({
homepageUrl: "#",
serviceName: "Submit a pre-assessment application as a digital identity provider",
serviceUrl: "#",
navigation: [
{
href: "#",
text: "Search",
active: true
},
{
href: "#",
text: "About"
},
{
href: "#",
text: "Help"
}
]
}) }}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

<div class="govuk-width-container">
    {{ govukPhaseBanner({
        tag: {
          text: "Alpha"
        },
        html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
      }) }}
</div>
{% endblock %}

{% block pageScripts %}
<script type="text/javascript">
    var $element = document.querySelector('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav($element).init()
</script>
{% endblock %}




{% block content %}
<div class="govuk-grid-row">
    

    <div class="govuk-grid-column-two-thirds">


        <h1 class="govuk-heading-xl">
            Submit a pre-assessment application as a digital identity provider
        </h1>
        <br />
        <br />
        
        <p>Once you have decided to apply to be on the DVS Register, you must submit a pre-assessment application. Too apply, you must:  </p>

        <ul class="govuk-body">
            <li>be a registered company with Companies House in the UK or, if your parent company is international, one that is equivalent in your jurisdiction</li>
            <li>be in the process of having a registered office in the UK</li>
        </ul>
        <p>You will be assessed by the Office of Digital Identities and Attributes to determine suitability to proceed
            with the certification process. You will receive a confirmation from the office once the initial assessment
            has been completed.</p>

        <p>You will receive confirmation from the Office once the review of your pre-assessment application has been completed.</p>



        <a href="confirm.html" role="button" draggable="false"
            class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"
            data-module="govuk-button">
            Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>

    </div>

    <div class="govuk-grid-column-one-third">

        <div class="app-step-nav-related app-step-nav-related--singular">
            <h2 class="app-step-nav-related__heading">
                <span class="app-step-nav-related__pretitle">Part of</span>
                <a href="#">
                    Register as a digital identity service provider
                </a>
            </h2>
        </div>

        <div data-module="appstepnav" id="step-by-step-navigation"
            class="app-step-nav govuk-!-display-none-print js-hidden" data-show-text="Show" data-hide-text="Hide"
            data-show-all-text="Show all steps" data-hide-all-text="Hide all steps">
            <ol class="app-step-nav__steps">
                <li class="app-step-nav__step js-step" aria-current="step"
                    id="check-you-re-allowed-to-drive">
                    <div class="app-step-nav__header js-toggle-panel" data-position="1">
                        <h3 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                                        1<span class="govuk-visually-hidden govuk-!-display-none-print"
                                            aria-hidden="true">:</span>
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Decide if you want to
                                be part of the list and
                                be certified on any of
                                the schemes
                            </span>
                        </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel" id="step-panel-check-you-re-allowed-to-drive-1">
                        <p class="app-step-nav__paragraph">There are multiple schemes that you can get certified on.</p>

                        <ol class="app-step-nav__list " data-length="3">
                            <li class="app-step-nav__list-item js-list-item app-step-nav__list-item--active">
                                <a data-position="1.1" class="app-step-nav__link js-link" href="#">
                                    Right to Work</a>
                            </li>
                            <li class="app-step-nav__list-item js-list-item ">
                                <a data-position="1.2" class="app-step-nav__link js-link" href="#">Right to Rent</a>
                            </li>
                            <li class="app-step-nav__list-item js-list-item ">
                                <a data-position="1.3" class="app-step-nav__link js-link" href="#">DBS Scheme</a>
                            </li>
                        </ol>

                    </div>

                </li>
                <li class="app-step-nav__step js-step app-step-nav__step--active" id="get-a-provisional-licence">
                    <div class="app-step-nav__header js-toggle-panel" data-position="2">
                        <h3 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                                        2<span class="govuk-visually-hidden govuk-!-display-none-print"
                                            aria-hidden="true">:</span>
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Submit a pre-assessment application as a digital identity provider
                            </span>
                        </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel" id="step-panel-get-a-provisional-licence-2">


                    </div>

                </li>
                <li class="app-step-nav__step js-step" id="driving-lessons-and-practice">
                    <div class="app-step-nav__header js-toggle-panel" data-position="3">
                        <h3 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                                        3<span class="govuk-visually-hidden govuk-!-display-none-print"
                                            aria-hidden="true">:</span>
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Engage with one of the selected conformity assessment bodies to get certification
                            </span>
                        </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel" id="step-panel-driving-lessons-and-practice-3">
                        <p class="app-step-nav__paragraph">You need to find a certifying body to get certified.</p>



                    </div>

                </li>
                <li class="app-step-nav__step js-step" id="prepare-for-your-theory-test">
                    <div class="app-step-nav__header js-toggle-panel" data-position="4">
                        <h3 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--logic">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        and
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Check the
                                requirements for
                                certification
                            </span>
                        </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel" id="step-panel-prepare-for-your-theory-test-4">

                    </div>

                </li>
                <li class="app-step-nav__step js-step" id="book-and-manage-your-theory-test">
                    <div class="app-step-nav__header js-toggle-panel" data-position="5">
                        <h3 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                                        4<span class="govuk-visually-hidden govuk-!-display-none-print"
                                            aria-hidden="true">:</span>
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                OfDIA reviews certifications details
                            </span>
                        </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-theory-test-5">


                    </div>

                </li>
                <li class="app-step-nav__step js-step" id="book-and-manage-your-driving-test">
                    <div class="app-step-nav__header js-toggle-panel" data-position="6">
                        <h3 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                                        5<span class="govuk-visually-hidden govuk-!-display-none-print"
                                            aria-hidden="true">:</span>
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                See your information
                                on the DVS register
                            </span>
                        </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel" id="step-panel-book-and-manage-your-driving-test-6">


                    </div>

                </li>
                <li class="app-step-nav__step js-step" id="when-you-pass">
                    <div class="app-step-nav__header js-toggle-panel" data-position="7">
                        <h3 class="app-step-nav__title">
                            <span class="app-step-nav__circle app-step-nav__circle--number">
                                <span class="app-step-nav__circle-inner">
                                    <span class="app-step-nav__circle-background">
                                        <span class="govuk-visually-hidden govuk-!-display-none-print">Step</span>
                                        6<span class="govuk-visually-hidden govuk-!-display-none-print"
                                            aria-hidden="true">:</span>
                                    </span>
                                </span>
                            </span>

                            <span class="js-step-title">
                                Monitor your
                                certification status
                            </span>
                        </h3>
                    </div>

                    <div class="app-step-nav__panel js-panel" id="step-panel-when-you-pass-7">

                    </div>

                </li>
            </ol>
        </div>


    </div>

</div>


</div>
</div>
{% endblock %}