{% set version = 'v3' %}

<h2 class="govuk-heading-l">
  <span class="govuk-tag">LATEST version</span><br />
  DVS Register Sprint 3
  <span class="govuk-caption-l">
    30 October 2023 &ndash; 13 November 2023
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- /// PUBLIC FACING REGISTER -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">DVS Register</h4>
    <div class="govuk-button-group">
      <a
        href="/{{version}}/public-facing-register/start"
        class="govuk-button"
        style="background: #1d70b8"
        data-module="govuk-button"
        >View journey</a
      >
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What we've done </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">What we've done</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register/start"
                  >Start</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>
                  Added additional content to explain more about the service.
                </li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register/search"
                  >Search</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Minor UI changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register/search-filtered-rtw"
                  >Search filtered to RTW</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Minor UI changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register/company1"
                  >Company page (SecureID Platform)</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register/help"
                  >Help</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- /// PUBLIC FACING REGISTER TRUST MARK -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">
      DVS Register Trust Mark
    </h4>
    <div class="govuk-button-group">
      <a
        href="/{{version}}/public-facing-register-trust-mark/start"
        class="govuk-button"
        style="background: #1d70b8"
        data-module="govuk-button"
        >View journey</a
      >
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What we've done </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">What we've done</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register-trust-mark/start"
                  >Start</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Updated breadcrumbs</li>
                <li>Remove hyphen from Trust-Mark title</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register-trust-mark/search"
                  >Search</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Updated breadcrumbs</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register-trust-mark/search-results"
                  >Search results</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Updated breadcrumbs</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register-trust-mark/company1"
                  >Company page (SecureID Platform)</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Updated breadcrumbs</li>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- /// IDSP ONBOARDING CB REGISTRATION -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">
      IDSP Onboarding: CB Registration
    </h4>
    <div class="govuk-button-group">
      <a
        href="/{{version}}/idsp-onboarding/cb-registration/create-account"
        class="govuk-button"
        style="background: #1d70b8"
        data-module="govuk-button"
        >View journey</a
      >
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What we've done </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">What we've done</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/application-summary"
                  >Application summary</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/case-list-updated"
                  >Case list updated</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/case-list"
                  >Case list</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/check-eligibility"
                  >Check eligibility</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>
                  Remove list (The IDSP Company Documents that you'll need:)
                </li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/check-urn"
                  >Check URN</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Initial state</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/check-urn-error"
                  >Check URN validation error</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Initial state</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/checklist-partial-completion"
                  >Checklist partial completion</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Remove section (Provide IDSP company documents)</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/checklist"
                  >Checklist</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Remove section (Provide IDSP company documents)</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/confirmation"
                  >Confirmation</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/create-account-company-details"
                  >Create account company details</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/create-account"
                  >Create account</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Create application error</td>
              <td class="govuk-table__cell">
                <li>Page deleted</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/create-application"
                  >Create application</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Provide idsp company documents</td>
              <td class="govuk-table__cell">
                <li>Page deleted</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/provide-idsp-company-information-1"
                  >Provide idsp company information-1</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/provide-idsp-company-information-2"
                  >Provide idsp company information-2</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/provide-idsp-company-information-3"
                  >Provide idsp company information-3</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/read-declaration"
                  >Read declaration</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>No changes</li>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- /// IDSP ONBOARDING OFDIA DASHBOARD -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">
      IDSP Onboarding: OFDIA Dashboard
    </h4>
    <div class="govuk-button-group">
      <a
        href="/{{version}}/idsp-onboarding/ofdia-dashboard/start"
        class="govuk-button"
        style="background: #1d70b8"
        data-module="govuk-button"
        >View journey</a
      >
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What we've done </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">What we've done</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/v17/faa/search-page-02"
                  >Search and browse page</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Reverted to a “What / Where” pattern for search</li>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- /// IDSP ONBOARDING PRE-SCREENING -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">
      IDSP Onboarding: Pre-screening
    </h4>
    <div class="govuk-button-group">
      <a
        href="/{{version}}/idsp-onboarding/pre-screening/start"
        class="govuk-button"
        style="background: #1d70b8"
        data-module="govuk-button"
        >View journey</a
      >
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What we've done </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">What we've done</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/v17/faa/search-page-02"
                  >Search and browse page</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>Reverted to a “What / Where” pattern for search</li>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>
    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
  </div>
</div>
