{% set version = 'v3' %}

<h2 class="govuk-heading-l">
  <span class="govuk-tag">LATEST version</span><br />
  DVS Register Sprint 3
  <span class="govuk-caption-l">
    30 October 2023 &ndash; 13 November 2023
  </span>
</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- /// PUBLIC FACING REGISTER -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">DVS Register</h4>
    <div class="govuk-button-group">
      <a
        href="/{{version}}/public-facing-register/start"
        class="govuk-button"
        style="background: #1d70b8"
        data-module="govuk-button"
        >View journey</a
      >
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What we've done </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">What we've done</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register/start"
                  >Start</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>
                    Added additional content to explain more about the service.
                  </li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register/search"
                  >Search</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Minor UI changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register/search-filtered-rtw"
                  >Search filtered to RTW</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Minor UI changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register/company1"
                  >Company page (SecureID Platform)</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register/help"
                  >Help</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- /// PUBLIC FACING UK Digital Trust Register -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">
      DVS UK Digital Trust Register
    </h4>
    <div class="govuk-button-group">
      <a
        href="/{{version}}/public-facing-register-trust-mark/start"
        class="govuk-button"
        style="background: #1d70b8"
        data-module="govuk-button"
        >View journey</a
      >
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What we've done </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">What we've done</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register-trust-mark/start"
                  >Start</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Updated breadcrumbs</li>
                  <li>Remove hyphen from Trust-Mark title</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register-trust-mark/search"
                  >Search</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Updated breadcrumbs</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register-trust-mark/search-results"
                  >Search results</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Updated breadcrumbs</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/public-facing-register-trust-mark/company1"
                  >Company page (SecureID Platform)</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Updated breadcrumbs</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- /// Digital Identity Provider ONBOARDING CB REGISTRATION -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">
      Digital Identity Provider Onboarding: CB Registration
    </h4>
    <div class="govuk-button-group">
      <a
        href="/{{version}}/idsp-onboarding/cb-registration/create-account"
        class="govuk-button"
        style="background: #1d70b8"
        data-module="govuk-button"
        >View journey</a
      >
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What we've done </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">What we've done</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/application-summary"
                  >Application summary</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/case-list-updated"
                  >Case list updated</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/case-list"
                  >Case list</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/check-eligibility"
                  >Check eligibility</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>
                  Remove list (The Digital Identity Provider Company Documents
                  that you'll need:)
                </li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/check-urn"
                  >Check URN</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/check-urn-error"
                  >Check URN validation error</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/checklist-partial-completion"
                  >Checklist partial completion</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>
                  Remove section (Provide Digital Identity Provider company
                  documents)
                </li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/checklist"
                  >Checklist</a
                >
              </td>
              <td class="govuk-table__cell">
                <li>
                  Remove section (Provide Digital Identity Provider company
                  documents)
                </li>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/confirmation"
                  >Confirmation</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/create-account-company-details"
                  >Create account company details</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/create-account"
                  >Create account</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Create application error</td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Page deleted</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/create-application"
                  >Create application</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                Provide Digital Identity Provider company documents
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Page deleted</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/provide-idsp-company-information-1"
                  >Provide Digital Identity Provider company information-1</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/provide-idsp-company-information-2"
                  >Provide Digital Identity Provider company information-2</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/provide-idsp-company-information-3"
                  >Provide Digital Identity Provider company information-3</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration/read-declaration"
                  >Read declaration</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>No changes</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>
    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- /// IDSP ONBOARDING CB REGISTRATION URN VERSION -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">
      Digital Identity Provider Onboarding: CB Registration URN
    </h4>
    <div class="govuk-button-group">
      <a
        href="/{{version}}/idsp-onboarding/cb-registration-urn/start"
        class="govuk-button"
        style="background: #1d70b8"
        data-module="govuk-button"
        >View journey</a
      >
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What we've done </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">What we've done</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/start.html"
                  >Start</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-account.html"
                  >Create account</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-account-company-details.html"
                  >Create account company details</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/check-urn/check-number-error.html"
                  >Check URN - check-number-error</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/check-urn/check-number.html"
                  >Check URN - check-number</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/check-urn/confirmation.html"
                  >Check URN - confirmation</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/check-urn/start.html"
                  >Check URN - start</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-application/accept-declaration.html"
                  >Create application - accept-declaration</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-application/application-summary.html"
                  >Create application - application-summary</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-application/case-list.html"
                  >Create application - case-list</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-application/check-eligibility.html"
                  >Create application - check-eligibility</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-application/check-number.html"
                  >Create application - check-number</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-application/checklist-partial-completion.html"
                  >Create application - checklist-partial-completion</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-application/checklist.html"
                  >Create application - checklist</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-application/confirmation.html"
                  >Create application - confirmation</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-application/provide-certification-details.html"
                  >Create application - provide-certification-details</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-application/provide-company-information.html"
                  >Create application - provide-company-information</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/{{version}}/idsp-onboarding/cb-registration-urn/create-application/start.html"
                  >Create application - start</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Initial state</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- /// Digital Identity Provider ONBOARDING OFDIA DASHBOARD -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">
      Digital Identity Provider Onboarding: OFDIA Dashboard
    </h4>
    <div class="govuk-button-group">
      <a
        href="/{{version}}/idsp-onboarding/ofdia-dashboard/start"
        class="govuk-button"
        style="background: #1d70b8"
        data-module="govuk-button"
        >View journey</a
      >
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What we've done </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">What we've done</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/v17/faa/search-page-02"
                  >Search and browse page</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Reverted to a “What / Where” pattern for search</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>

    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
    <!-- /// Digital Identity Provider ONBOARDING PRE-SCREENING -->
    <h4 class="govuk-heading-m govuk-!-margin-bottom-2">
      Digital Identity Provider Onboarding: Pre-screening
    </h4>
    <div class="govuk-button-group">
      <a
        href="/{{version}}/idsp-onboarding/pre-screening/start"
        class="govuk-button"
        style="background: #1d70b8"
        data-module="govuk-button"
        >View journey</a
      >
    </div>

    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text"> What we've done </span>
      </summary>
      <div class="govuk-details__text">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Page</th>
              <th scope="col" class="govuk-table__header">What we've done</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <a
                  class="govuk-link govuk-link--no-visited-state"
                  href="/v17/faa/search-page-02"
                  >Search and browse page</a
                >
              </td>
              <td class="govuk-table__cell">
                <ul class="govuk-list">
                  <li>Reverted to a “What / Where” pattern for search</li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </details>
    <hr
      class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3"
    />
  </div>
</div>
