<!-- prettier-ignore -->
{% extends "v3/layouts/prototype-cb-urn.html" %}

{% block beforeContent %} 
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "checklist"
}) }}  
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Check before you start</span>
      Accept declaration
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      By submitting this form, you confirm that to the best of your knowledge
      and belief the information you have given is correct.
    </p>

    <p>
      I understand that the data I have given can be used as set out in the
      <a href="#" class="govuk-link">privacy policy</a>.
    </p>

    <p>
      I consent to organisations, including financial institutions, providing
      information to the gov.uk requested in relation to this application.
    </p>

    <p>
      I agree to the <a href="#" class="govuk-link">terms and conditions</a>.
    </p>
    <p>
      I understand that if I give false information that the submission can be
      refused and I may be prosecuted.
    </p>
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    <!-- prettier-ignore -->
    {{ govukCheckboxes({
      classes: "govuk-checkboxes--small",
      items: [
        {
          value: "hmrc",
          text: "I confirm that if I understand and accept this declaration."
        }
      ]
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Save and continue",
      href: "/v3/idsp-onboarding/cb-registration-urn/provide-idsp-company-information-1"
    }) }}
  </div>
</div>

{% endblock %}
