<!-- prettier-ignore -->
{% extends "v3/layouts/prototype-cb-urn.html" %}

{% block beforeContent %} 
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "checklist-partial-completion"
}) }}  
{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Application summary</span>
      SecureID Platform
      <span class="govuk-heading-s"
        >Application reference number: QQ123456C-123</span
      >
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <!-- prettier-ignore -->

    {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

    {{ govukSummaryList({
      card: {
        title: {
          text: "Company information"
        }
      },
      rows: [
        {
          key: {
            text: "Unique reference number"
          },
          value: {
            html: "QQ123456C"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Unique reference number"
              }
            ]
          }
        },
        {
          key: {
            text: "Registered name"
          },
          value: {
            html: "SecureID Platform"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Registered name"
              }
            ]
          }
        },
        {
          key: {
            text: "Trading name"
          },
          value: {
            html: "Safe ID Check"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Trading name"
              }
            ]
          }
        },
        {
          key: {
            text: "Companies House number"
          },
          value: {
            html: "08998951"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Companies House number"
              }
            ]
          }
        },
        {
          key: {
            text: "Email"
          },
          value: {
            html: "info@secureidplatform.com"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Email"
              }
            ]
          }
        },
        {
          key: {
            text: "Telephone"
          },
          value: {
            html: "+44 (0) 2045511332"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Telephone"
              }
            ]
          }
        },
        {
          key: {
            text: "Website"
          },
          value: {
            html: "www.secureidplatform.com"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Website"
              }
            ]
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            html: "Fora, 180 Borough High Street, London, 
                  SE31 1LB, 
                  United Kingdom"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Address"
              }
            ]
          }
        },
        {
          key: {
            text: "Role types"
          },
          value: {
            html: "Identity, Attribute"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Role types"
              }
            ]
          }
        },
        {
          key: {
            text: "Schemes"
          },
          value: {
            html: "<ul class='govuk-list'>
                  <li>Right to Work</li>
                  <li>Right to Rent</li>
                  <li>Disclosure and Barring Service</li>
                  </ul>
                  "
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Schemes"
              }
            ]
          }
        },
        {
          key: {
            text: "Identity profiles"
          },
          value: {
            html: "L1A, L1B, L1C, L2A, L2B, L2C"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Identity profiles"
              }
            ]
          }
        },
        {
          key: {
            text: "URL link to certificate of conformity"
          },
          value: {
            html: "https://secureid.defcertification.com"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "URL link to certificate of conformity"
              }
            ]
          }
        },
        {
          key: {
            text: "Certificate of conformity document"
          },
          value: {
            html: "Aug 2023 - SecureID Certificate of Conformity.pdf"
          },
          actions: {
            items: [
              {
                href: "#",
                text: "Change",
                visuallyHiddenText: "Link or file name"
              }
            ]
          }
        },
        {
        key: {
          text: "Date of issue of certificate of conformity"
        },
        value: {
          html: "3 October 2022"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Date of issue of certificate of conformity"
            }
          ]
        }
      },
      {
        key: {
          text: "Date of expiry of certificate of conformity"
        },
        value: {
          html: "3 October 2025"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Date of expiry of certificate of conformity"
            }
          ]
        }
      },
      {
        key: {
          text: "URL link to schedule of conformity"
        },
        value: {
          html: "https://secureidschedule.defcertification.com"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "URL link to schedule of conformity"
            }
          ]
        }
      },
      {
        key: {
          text: "Schedule of conformity document"
        },
        value: {
          html: "Aug 2023 - SecureID Schedule of Conformity.pdf"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Schedule of conformity document"
            }
          ]
        }
      },
      {
        key: {
          text: "Date of issue of schedule of conformity"
        },
        value: {
          html: "3 October 2022"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Date of issue of schedule of conformity"
            }
          ]
        }
      },
      {
        key: {
          text: "Date of expiry of schedule of conformity"
        },
        value: {
          html: "3 October 2025"
        },
        actions: {
          items: [
            {
              href: "#",
              text: "Change",
              visuallyHiddenText: "Date of expiry of schedule of conformity"
            }
          ]
        }
      }
      ]
    }) }}
    
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <!-- prettier-ignore -->
    {{ govukCheckboxes({
      classes: "govuk-checkboxes--small",
      items: [
        {
          value: "hmrc",
          text: "By submitting this form, you confirm that the information provided is correct to the  best of your knowledge."
        }
      ]
    }) }}

    {% from "govuk/components/button/macro.njk" import govukButton %}
    <!-- prettier-ignore -->
    {{ govukButton({
      text: "Confirm and submit",
      href: "/v3/idsp-onboarding/cb-registration-urn/create-application/confirmation.html"
    }) }}
  </div>
</div>

{% endblock %}
