<!-- prettier-ignore -->
{% extends "v3/layouts/prototype.html" %}

{% block beforeContent %} 
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "checklist"
}) }}  
{% endblock %} 


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Check before you start</span>
      Information you will need
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p>
      To complete this application you will need the information and documents
      listed below. You can save
      your application progress at every step and return to complete at a
      later time.
    </p>
    <h2 class="govuk-heading-m">You will need the digital identity provider's:</h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Registered name</li>
      <li>Unique reference number</li>
      <li>Trading name</li>
      <li>Companies House number</li>
      <li>Address</li>
      <li>Telephone</li>
      <li>Email</li>
      <li>Website</li>
    </ul>

    <h2 class="govuk-heading-m">
      Documents and information related to the digital identity provider's
      certification:
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li>Role types</li>
      <li>Schemes</li>
      <li>Identity profiles</li>
      <li>Link to certificate of conformity</li>
      <li>Upload of certificate of conformity</li>
      <li>Certificate of conformity issue and expiry date</li>
      <li>Link to schedule of certification</li>
      <li>Upload of schedule of certification</li>
      <li>Schedule of certification issue and expiry date</li>
    </ul>

    {% from "govuk/components/button/macro.njk" import govukButton %}
    <!-- prettier-ignore -->
    {{ govukButton({
      text: "Save and continue",
      href: "/v3/idsp-onboarding/cb-registration-urn/create-application/accept-declaration"
    }) }}
  </div>
</div>

{% endblock %}
