{% extends "v3/layouts/prototype-cb-urn.html" %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Create application</h1>

    <p>
      For a digital identity provider to be published on the DVS register you will need
      to create an application.
    </p>
    <p>
      Once you create an application you will be able to track the status of
      the application in the Case List.
    </p>
    <p>
      If they have passed the pre-assessment, they have been issued a unique
      reference number (URN) that they have shared with you through email.
    </p>

    {% from "govuk/components/inset-text/macro.njk" import govukInsetText %} {{
    govukInsetText({ text: "You will need to check the digital identity provider's unique
    reference number before you begin certification and you cannot create application
    without it." }) }}

    <p>To start a new application, you will need the digital identity provider's:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>Registered name</li>
      <li>Unique reference number</li>
    </ul>

    {{ govukButton({ text: "Start now", href:
    "/v3/idsp-onboarding/cb-registration-urn/create-application/check-number",
    isStartButton: true }) }}

    <aside
      class="govuk-prototype-kit-common-templates-related-items"
      role="complementary"
    >
      <h2 class="govuk-heading-m" id="subsection-title">Explore the topic</h2>
      <ul class="govuk-list">
        <li>
          <a href="#" class="gov-uk-link"
            >What are the steps to publish digital identity provider on the
            register?
          </a>
        </li>
        <li>
          <a href="#" class="govuk-link"
            >What is the unique reference number and how it is used?
          </a>
        </li>
      </ul>
    </aside>
  </div>

  <div class="govuk-grid-column-one-third"></div>
</div>

{% endblock %}
