<!-- prettier-ignore -->
{% extends "v3/layouts/prototype-cb.html" %}

{% block beforeContent %} 
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "case-list"
}) }}  
{% endblock %} 


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Register an IDSP</span>
      Strawberry Jam
      <span class="govuk-caption-l govuk-!-margin-top-1"
        >Reference Number: HDJ2123F</span
      >
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">Application incomplete</h2>
    <p>You have completed 0 of 5 sections.</p>
    <!-- prettier-ignore -->
    {% from "govuk/components/details/macro.njk" import govukDetails %}

    {{ govukDetails({
      summaryText: "I need help doing things online",
      text: "We need to know your nationality so we can work out which elections you’re entitled to vote in. If you cannot provide your nationality, you’ll have to send copies of identity documents through the post."
    }) }}

    <!-- prettier-ignore -->
    {%- from "app/components/task-list/macro.njk" import dsitTasklist -%}

    {{ dsitTasklist({
      sections: [
        {
          heading: {
            text: 'Check before you start'
          },
          items: [{
            text: 'Check eligibility',
            href: '/v3/idsp-onboarding/cb-registration/check-eligibility.html',
            tag: "not started"
          }, {
            text: 'Read declaration',
            href: '/v3/idsp-onboarding/cb-registration/read-declaration.html',
            tag: "not started"
          }]
        },
        {
          heading: {
            text: 'Prepare application'
          },
          items: [{
            text: 'Provide Digital Identity Provider company information',
            href: '/v3/idsp-onboarding/cb-registration/provide-idsp-company-information-1',
            tag: "not started"
          }]
        },
        {
          heading: {
            text: 'Apply'
          },
          items: [{
            text: 'Review and submit',
            href: '#',
            tag: "cannot start"
          }]
        }
      ]
    }) }}
    <p>This application has been saved to your <a href="#">drafts</a>.</p>
  </div>
</div>

{% endblock %}
